/accountsystemlogic/target/
/accountsystemrepository/target/
/accountsystemrepository/src/main/resources/
/accountsystemtranslator/target/
/accountsystemwebservices/src/main/resources/
/accountsystemwebservices/target/
/accountsystemwebservices/src/main/resources/
/accountsystemwebservices/target/
